In [12]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from scipy.stats import chi2_contingency

In [2]:
order=pd.read_csv(r"C:\Users\Admin\Downloads\Costomer+OrderForm.csv")

In [3]:
order

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
order.Phillippines.value_counts()

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64

In [5]:
order.Indonesia.value_counts()

Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64

In [6]:
order.Malta.value_counts()

Malta
Error Free    269
Defective      31
Name: count, dtype: int64

In [7]:
order.India.value_counts()

India
Error Free    280
Defective      20
Name: count, dtype: int64

In [8]:
#Ho: the defective % varies by centre
#H1: the defective % varies not by centre
#Test statistic chi-square=∑(O-E)^2/E
# Where O- observed frequency of each cell
#E- Expected values for each cell

In [9]:
# Make a contingency table
o=np.array([[271,267,269,280],[29,33,31,20]])
o

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [13]:
# Chi2 contengency independence test
chi2_contingency(o) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [14]:
#test statistic value as 3.8589 also the p value as 0.2771, df 3
#So we get the critical value from the table for α=0.05 and df=3 is 7.815. p value is >0.05
#Hence we accept Ho. The defective % varies by centre