In [3]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [4]:
from scipy.stats import chi2_contingency

In [5]:
br=pd.read_csv(r"C:\Users\Admin\Downloads\BuyerRatio.csv")

In [6]:
br

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [7]:
br.East.value_counts()

East
50     1
435    1
Name: count, dtype: int64

In [8]:
br.West.value_counts()

West
142     1
1523    1
Name: count, dtype: int64

In [9]:
br.North.value_counts()

North
131     1
1356    1
Name: count, dtype: int64

In [10]:
br.South.value_counts()

South
70     1
750    1
Name: count, dtype: int64

In [11]:
#Ho: All proportions are equal
#H1: All proportions are equal
#Test statistic chi-square=∑(O-E)^2/E
#Where O- observed frequency of each cell
#E- Expected values for each cell

In [12]:
# Make a contingency table
p=np.array([[50,142,131,70],[435,1523,1356,750]])
p

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [13]:
# Chi2 contengency independence test
chi2_contingency(p) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [14]:
#Therefore we get our chi-square value as 1.59 and the degrees of freedom [ (r-1)*(c-1)] is 3
#Also the p value =0.6603.
#So we get the critical value from the table for α=0.05 and df=3 is 7.815.So p value is greater than 0.05 we accept Ho.
#all proportions are equal.